<div class="content-conatiner">
  <page-title 
    [title]="'ประวัติส่วนตัว'"
    [showButton]="true"
    [label]="'แก้ไขข้อมูล'"
    [icon]="'pi pi-pencil'"
    (onClick)="editProfile()">
  </page-title>

  <ng-container *ngIf="!editMode">
    <div class="shadow-2 border-round-md p-3">
      <div class="grid">
        <div class="col-3">
          <img src="assets/img/blood.png" class="w-full">
        </div>
        <div class="col-9">
          <div class="flex flex-column">
            <div class="grid">
              <div class="col-2 font-bold">
                ชื่อ-สกุล:
              </div>
              <div class="col-10">
                {{ currentUser.firstname }} {{ currentUser.lastname }}
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                อีเมล:
              </div>
              <div class="col-10">
                testgmail.com
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                เบอร์โทรศัพท์:
              </div>
              <div class="col-10">
                089-999-9999
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                วันเดือนปีเกิด:
              </div>
              <div class="col-10">
                01/01/1990
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                เพศ:
              </div>
              <div class="col-10">
                ชาย
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                กรุ๊ปเลือด:
              </div>
              <div class="col-10">
                A
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                น้ำหนัก:
              </div>
              <div class="col-10">
                60
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                ส่วนสูง:
              </div>
              <div class="col-10">
                170
              </div>
            </div>
            <div class="grid">
              <div class="col-2 font-bold">
                โรคประจำตัว:
              </div>
              <div class="col-10">
                ไม่มี
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="editMode">
    <div [formGroup]="formData">
      <div class="grid">
        <div class="col-2">
          <label class="required">
          ชื่อ
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text"
            placeholder="ชื่อ"
            formControlName="firstName">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          นามสกุล
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text"
            placeholder="นามสกุล"
            formControlName="lastName">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          อีเมล
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="email"
            placeholder="อีเมล"
            formControlName="email">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          เบอร์โทรศัพท์
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text" 
            placeholder="เบอร์โทรศัพท์"
            formControlName="phoneNumber">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          กรุ๊ปเลือด
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text" 
            placeholder="กรุ๊ปเลือด"
            formControlName="bloodGroup">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          เพศ
          </label>
        </div>
        <div class="col-10">
          <input   pInputText 
            type="text" 
            placeholder="เพศ"
            formControlName="gender">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          วันเดือนปีเกิด
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text" 
            placeholder="วันเดือนปีเกิด"
            formControlName="dateOfBirth">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          น้ำหนัก
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text" 
            placeholder="น้ำหนัก"
            formControlName="weight">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          ส่วนสูง
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text" 
            placeholder="ส่วนสูง"
            formControlName="height">
        </div>
      </div>

      <div class="grid">
        <div class="col-2">
          <label class="required">
          โรคประจำตัว
          </label>
        </div>
        <div class="col-10">
          <input pInputText 
            type="text" 
            placeholder="โรคประจำตัว"
            formControlName="congenitalDisease">
        </div>
      </div>
    </div>
  </ng-container>
</div>