<div class="content-conatiner">
  <page-title 
    [title]="'ประวัติส่วนตัว'"
    [showButton]="true"
    [label]="'แก้ไขข้อมูล'"
    [icon]="'pi pi-pencil'"
    (onClick)="editProfile()">
  </page-title>

  <div class="grid">
    <div class="col-3">
      <label class="required">
       ชื่อ
      </label>
    </div>
    <div class="col-9">
      <input type="text">
    </div>
  </div>

  <!-- <div class="grid">
    <div class="col-3">
      <p-avatar 
        class="flex justify-content-center"
        shape="circle" 
        [style]="{width : '200px', height : '200px'}">
      </p-avatar>
      <div class="flex justify-content-center mt-2">
        <button
          label="เปลี่ยนรูปประจำตัว" 
          icon="pi pi-pencil" 
          class="p-button-primary p-button-rounded p-button-sm" 
          (onClick)="editProfile()"
          pButton pRipple>
        </button>
      </div>
    </div>

    <div class="col-9">
      <div class="grid mb-2">
        <div class="col-12 font-bold">
          คำนำหน้าชื่อ
        </div>
        <div class="col-12 -mt-2">
          <input type="text" pInputText>
        </div>
      </div>

      <div class="grid mb-2">
        <div class="col-12 font-bold">
          ชื่อ
        </div>
        <div class="col-12 -mt-2">
          <input type="text" pInputText>
        </div>
      </div>

      <div class="grid mb-2">
        <div class="col-12 font-bold">
          ชื่อกลาง (ถ้ามี)
        </div>
        <div class="col-12 -mt-2">
          <input type="text" pInputText>
        </div>
      </div>


      <div class="grid mb-2">
        <div class="col-12 font-bold">
          นามสกุล
        </div>
        <div class="col-12 -mt-2">
          <input type="text" pInputText>
        </div>
      </div>
    </div>
  </div> -->
</div>