<div class="content-conatiner">
  <page-title [title]="'ธนาคารเลือด'"></page-title>

  <div class="shadow-2 border-round-md p-3">
    <div class="grid">
      <div class="col-3">
        <img src="assets/img/blood.png" class="w-full" height="120">
      </div>
      <div class="col-9">
        <div class="flex flex-column align-content-start">
          <div class="text-2xl font-bold">
            ศูนย์รับบริจาคเลือดศิริราช
          </div>
          <div class="mt-2 text-lg">
            อาคารนวมินทรบพิตร ๘๔ พรรษา ชั้น 3 โรงพยาบาลศิริราช เลขที่ 2 ถนนวังหลัง
            แขวงศิริราช เขตบางกอกน้อย กรุงเทพฯ 10700
          </div>

          <div class="mt-2 text-gray-500">
            อัพเดทล่าสุด : 20/10/2563
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid-custom p-2">
    <ng-container *ngFor="let item of [1,2,3,4]">
      <div class="shadow-2 border-round-md">
        <div class="flex flex-column align-items-center p-3">
          <img src="assets/img/blood_{{item}}.png" alt="">
          <div class="w-full flex justify-content-between mt-3">
            <div class="text-md font-bold">
              กรุ๊ปเลือด
            </div>
            <div class="text-md">
              A(เอ)
            </div>
          </div>

          <div class="w-full flex justify-content-between mt-3">
            <div class="text-md font-bold">
              ได้รับการบริจาค
            </div>
            <div class="text-md">
              200 หน่วย
            </div>
          </div>

          <div class="w-full flex justify-content-between mt-3">
            <div class="text-md font-bold">
              ความต้องการ
            </div>
            <div class="text-md">
              1000 หน่วย/เดือน
            </div>
          </div>

          <div class="w-full mt-3">
            <p-progressBar [value]="80"></p-progressBar>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>