<div class="content-conatiner">
  <page-title [title]="'รางวัลจากการบริจาค'"></page-title>
  <div class="shadow-2 border-round-md p-3">
    <div class="grid">
      <div class="col-3">
        <img src="assets/img/blood.png" class="w-full border-circle" height="100">
      </div>
      <div class="col-9">
        <div class="flex flex-column">
          <div class="flex justify-content-between">
            <div class="text-2xl font-bold">
              นายณัฐพล ดิษฐวิบูลย์
            </div>
            <div>
              <button pButton icon="pi pi-history" label="ประวัติการบริจาคเลือด"
                class="p-button-sm p-button-secondary p-button-outlined" routerLink="/history">
              </button>
            </div>
          </div>
          <div class="text-lg">
            คุณได้ทำการบริจาคเลือดไปแล้ว 3 ครั้ง
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="shadow-2 border-round-md p-3 flex justify-content-start">
    <p-timeline [value]="listRewards" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-event>
        <ng-container *ngIf="event.state == 1">
          <span class="custom-marker shadow-2 bg-green-500 border-circle p-1 px-2">
            <i class="pi pi-gift mt-1" style="font-size: 1rem"></i>
          </span>
        </ng-container>
        <ng-container *ngIf="event.state == 0">
          <span class="custom-marker2 shadow-2 bg-gray-500 border-circle p-1 px-2">
            <i class="pi pi-gift mt-1 text-white" style="font-size: 1rem"></i>
          </span>
        </ng-container>

      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card>
          <div class="grid custom-card">
            <div class="col-12">
              <div class="text-2xl font-bold">{{ event.title }}</div>
              <div>{{ event.description }}</div>
            </div>
          </div>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</div>